<%- include('header.ejs') %>

<%- include('nav.ejs') %>

<div class="box">

    <div class="mainimg">

        <img src="/illustration/main.svg" alt="main">

    </div>

</div>

<%- include('socially.ejs') %>

<%- include('footer.ejs') %>